body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: linear-gradient(100deg, #555555, rgb(0, 0, 0));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
  margin: 0;
  transition: 0.5s ease;
}

.containerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: row;
  margin-top: 20vh;
  background-image: linear-gradient(100deg, #555555, rgb(0, 0, 0));
  border: 0;
  padding: 0;
  transition: 0.5s ease;
}

.animationBody {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(2, 1fr);
  height: 457px;
  width: 430px;
  margin: 0;
  /*
  wow! changing transition time breaks downsize and upsize feature!!! oO
  */
  transition: 0.5s ease;
}

.upperLeftBorder,
.upperRightBorder,
.lowerLeftBorder,
.lowerRightBorder {
  opacity: 60%;
  transition: 0.5s ease;
}

.upperLeftBorder {
  border-top: 10px solid gray;
  border-left: 10px solid gray;
}

.upperRightBorder {
  border-top: 10px solid gray;
  border-right: 10px solid gray;
}

.lowerLeftBorder {
  border-bottom: 10px solid gray;
  border-left: 10px solid gray;
}

.lowerRightBorder {
  border-right: 10px solid gray;
  border-bottom: 10px solid gray;
}

.calculatorBody {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  height: 445px;
  width: 410px;
  opacity: 100%;
  position: absolute;
  margin: 0;
  transition: 0.5s ease;
}

.display {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(1, 1fr);
  margin: 0;
  transition: 0.5s ease;
  font-family: 'Press Start 2P';
}

.result,
.digitDisplay {
  border: 10px inset blueviolet;
  padding-right: 1vw;
  padding-left: 1vw;
  margin: 0;
  background-image: linear-gradient(100deg, rgb(0, 0, 0), #000000);
}

.result {
  font-size: 1.4rem;
  border-bottom: none;
}

.digitDisplay {
  display: flex;
  justify-content: flex-start;
  font-size: 1.9rem;
  border-top: none;
  overflow-x: scroll;
  scrollbar-width: none;
  /* fix for scrollbar not showing with flex */
  direction: rtl;
}

p {
  text-align: end;
  background-color: inherit;
  transition: 0.5s ease;
}

#pResult {
  margin-top: 6px;
  margin-bottom: 6px;
}

#pDisplay {
  margin-top: 10px;
  margin-bottom: 10px;
  /* fix for scrollbar not showing with flex */
  direction: ltr;
}

.digits {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px 8px;
  height: 220px;
  width: 410px;
  margin: 0;
  transition: 0.5s ease;
}

.enterResult {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  padding: 0;
  margin: 0;
  height: 55px;
}

.enterKey {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 80%;
  border-radius: 15px;
}

.enterKeyCousin {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 20%;
  border-radius: 15px;
}

button {
  border: 5px outset black;
  font-size: 1.4rem;
  background-color: white;
  transition: 0.2s ease;
  cursor: pointer;
  border-radius: 35px;
}

kbd {
  font-family: 'Press Start 2P';
}

.digitsOnly {
  border-radius: 15px;
  padding-top: 8px;
  transition: 0.5s ease;
}

.syPlus,
.syMinus,
.syMultiply,
.syDivide {
  color: red;
  text-shadow: 1px 1px 1px black;
  font-family: 'Press Start 2P';
}

.enterKeyCousin {
  color: red;
  text-shadow: 1px 2px 3px black;
}


.userOptions {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(1, 1fr);
  position: absolute;
  margin: 0;
  top: 12vh;
  right: 1.5vw;
}

.upszC,
.dwnszC,
.rndColorOutline,
.dissCalc,
.newCalc,
.pageBackgroundToggl,
.powerUpCalc2,
.fontChange {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  padding: 5px;
  margin-bottom: 1vh;
}

.fa-bomb,
.fa-buffer,
.fa-border-style,
.fa-font,
.fa-power-off {
  padding: 5px;
  font-size: 2.0rem;
}

.fa-male {
  font-size: 2.5rem;
}

.two {
  padding: 10px;
  font-size: 1.5rem;
}

.fa-baby {
  padding: 10px;
  font-size: 2.0rem;
}

.fa-power-off {
  color: green;
  transition: 1s ease;
}

.fa-border-style {
  transition: 1s ease;
}

.tooltiptext1 {
  visibility: hidden;
  width: 55px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border: 2px outset yellow;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}

.powerUpCalc2:hover .tooltiptext1,
.upszC:hover .tooltiptext1, 
.dwnszC:hover .tooltiptext1, 
.rndColorOutline:hover .tooltiptext1, 
.pageBackgroundToggl:hover .tooltiptext1, 
.fontChange:hover .tooltiptext1, 
.dissCalc:hover .tooltiptext1,
.nC:hover .tooltiptext1 {
  visibility: visible;
  left: -135%; 
  opacity: 1;
  transition-delay: 1.5s;
}

.powerUpCalc2 .tooltiptext1::after,
.upszC .tooltiptext1::after, 
.dwnszC .tooltiptext1::after, 
.rndColorOutline .tooltiptext1::after, 
.pageBackgroundToggl .tooltiptext1::after, 
.fontChange .tooltiptext1::after, 
.dissCalc .tooltiptext1::after,
.nC .tooltiptext1::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent yellow;
}

.userOptions2 {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  position: absolute;
  margin: 0;
  top: 1.5vh;
  right: 200px;
}

@media screen and (min-width: 1000px) {
  .userOptions2 {
    right: 350px;
  }
}
@media screen and (min-width: 1500px) {
  .userOptions2 {
    right: 550px;
  }
}
@media screen and (min-width: 2000px) {
  .userOptions2 {
    right: 750px;
  }
}

.previous,
.playStop,
.next,
.random {
  margin-right: 0.5vw;
}

.playStop2 {
  background-color: transparent;
  position: relative;
  right: 231px;
  top: 2px;
  border: none;
  pointer-events: none;
}

@media screen and (min-width: 1600px) {
  .playStop2 {
    right: 240px;
  }
}
@media screen and (min-width: 2000px) {
  .playStop2 {
    right: 246px;
  }
}

.fa-caret-right,
.fa-caret-left,
.fa-play,
.fa-random {
  padding: 10px;
  font-size: 2.0rem;
}

.fa-play {
  opacity: 100%;
  transition: 0.5s ease;
}

.fa-pause {
  font-size: 2.0rem;
  opacity: 0;
  transition: 0.5s ease;
}

.fa-caret-right,
.fa-caret-left {
  font-size: 2.5rem;
}

.tooltiptext2 {
  visibility: hidden;
  width: 55px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border: 2px outset yellow;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}

.previous:hover .tooltiptext2,
.playStop:hover .tooltiptext2, 
.next:hover .tooltiptext2, 
.random:hover .tooltiptext2 {
  visibility: visible;
  top: 120%;
  left: 2%; 
  opacity: 1;
  transition-delay: 1.5s;
}

.previous .tooltiptext2::after,
.playStop .tooltiptext2::after, 
.next .tooltiptext2::after, 
.random .tooltiptext2::after {
  content: " ";
  position: absolute;
  bottom: 100%; 
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: outset;
  border-color: transparent transparent yellow transparent;
}