body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: linear-gradient(100deg, #919191, rgb(174, 174, 174));
  margin: 0;
}

.containerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: row;
  margin-top: 20vh;
  background-color: yellowgreen;
  border: 0;
  padding: 0;
  transition: 1s ease;
}

.animationBody {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(2, 1fr);
  height: 457px;
  width: 430px;
  margin: 0;
  transition: 1s ease;
}

.upperLeftBorder,
.upperRightBorder,
.lowerLeftBorder,
.lowerRightBorder {
  opacity: 80%;
  transition: 0.10s ease;
}

.upperLeftBorder {
  border-top: 10px solid gray;
  border-left: 10px solid gray;
}

.upperRightBorder {
  border-top: 10px solid gray;
  border-right: 10px solid gray;
}

.lowerLeftBorder {
  border-bottom: 10px solid gray;
  border-left: 10px solid gray;
}

.lowerRightBorder {
  border-right: 10px solid gray;
  border-bottom: 10px solid gray;
}

.calculatorBody {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  height: 445px;
  width: 410px;
  opacity: 100%;
  position: absolute;
  margin: 0;
  transition: 1s ease;
}

.display {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(1, 1fr);
  margin: 0;
}

.result,
.digitDisplay {
  border: 5px solid blueviolet;
  background-color: white;
  padding: 0;
  margin: 0;
}

.result {
  font-size: 0.9rem;
  border-bottom: none;
}

.digitDisplay {
  font-size: 1.4rem;
  border-top: none;
}

p {
  text-align: end;
  background-color: inherit;
  transition: 1s ease;
}

/* #pResult {
  margin-top: 7px;
  margin-bottom: 7px;
}

#pDisplay {
  margin-top: 15px;
  margin-bottom: 15px;
} */

.digits {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px 8px;
  height: 220px;
  width: 410px;
  margin: 0;
  transition: 1s ease;
}

.enterResult {
  padding: 0;
  margin: 0;
  height: 55px;
}

.enterKey {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

button {
  border: 5px outset black;
  font-size: 1.4rem;
  background-color: white;
  transition: 1s ease;
}

.userOptions {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(1, 1fr);
  position: absolute;
  margin: 0;
  max-height: 300px;
  max-width: 100px;
  min-height: 300px;
  min-width: 100px;
  top: 30vh;
  right: 0.5vw;
  border: 4px solid powderblue;
}

.upsizeC,
.downsizeC,
.randomColorCalcOutline,
.disintegrateCalc,
.newCalc,
.powerUpCalc {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  opacity: 50%;
  border: 5px outset blueviolet;
  max-width: 100px;
  min-width: 100px;
}

.userOptions2 {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  position: absolute;
  margin: 0;
  max-height: 50px;
  max-width: 300px;
  min-height: 50px;
  min-width: 300px;
  border: 4px solid powderblue;
  top: 0.5vw;
}
