body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: linear-gradient(100deg, #919191, rgb(174, 174, 174));
  margin: 0;
}

.containerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 5px outset black;
  height: 90vh;
  width: 90vw;
  margin-top: 4vh;
}

.animationBody {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(2, 1fr);
  max-height: 560px;
  max-width: 535px;
  min-height: 560px;
  min-width: 535px;
  border: 5px outset black;
  margin: 0;
}

.upperLeftBorder,
.upperRightBorder,
.lowerLeftBorder,
.lowerRightBorder {
  opacity: 50%;
}

.upperLeftBorder {
  border-top: 10px solid green;
  border-left: 10px solid pink;
}

.upperRightBorder {
  border-top: 10px solid mediumvioletred;
  border-right: 10px solid darkorange;
}

.lowerLeftBorder {
  border-bottom: 10px solid blue;
  border-left: 10px solid yellow;
}

.lowerRightBorder {
  border-right: 10px solid gray;
  border-bottom: 10px solid violet;
}

.calculatorBody {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  max-height: 545px;
  max-width: 510px;
  min-height: 545px;
  min-width: 510px;
  border: 2px solid black;
  opacity: 100%;
  position: absolute;
  margin: 0;
}

.display {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(1, 1fr);
  border: 5px solid black;
  margin: 0;
}

.result,
.digitDisplay {
  border: 5px solid blueviolet;
  background-color: white;
  padding: 0;
  margin: 0;
}

.result {
  font-size: 0.9rem;
}

.digitDisplay {
  font-size: 1.4rem;
}

p {
  text-align: end;
  background-color: inherit;
}

.digits {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px 8px;
  max-height: 320px;
  max-width: 510px;
  min-height: 320px;
  min-width: 510px;
  border: 5px solid black;
  margin: 0;
}

.enterResult {
  padding: 0;
  margin: 0;
  min-height: 70px;
}

.enterKey {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

button {
  border: 5px outset black;
  font-size: 1.4rem;
}

.userOptions {
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(1, 1fr);
  position: absolute;
  margin: 0;
  max-height: 300px;
  max-width: 100px;
  min-height: 300px;
  min-width: 100px;
  right: 0vw;
  border: 4px solid powderblue;
}

.upsizeC,
.downsizeC,
.randomColorCalcOutline,
.disintegrateCalc,
.newCalc,
.powerUpCalc {
  opacity: 50%;
  border: 5px outset blueviolet;
}

.highlight {
  border: outset 3px rgb(229, 255, 0);
  box-shadow: 0px 0px 10px 5px rgba(229, 255, 0, 0.5);
  transition: 1s ease 0s;
}

